* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
}

html, 
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

#img_container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: hwb(204 22% 0% / 0.3);
}

#img_bgImg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    filter: grayscale(50%);
    opacity: 0;
}

.input_area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hwb(204 22% 0% / 0.3);
}

.input_area>div {
    height: 230px;
    width: 90%;
    border-style: solid;
    border-width: 2px;
    border-color: #30a2ff;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: hwb(204 22% 0% / 0.65);
}

#ipt_task {
    height: 30px;
    width: 93%;
    margin-bottom: 30px;
    border-style: double;
    border-width: 4px;
    border-color: #000000;
    border-radius: 10px;
    font-size: 18px;
}

.dropdown_container {
    height: 35px;
    width: 95%;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.btn_dropdownMenu {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
    border-style: double;
    border-width: 4px;
    border-color: #000000;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
}

.btn_dropdownMenu:hover, 
.btn_dropdownMenu:focus {
    background-color: #84a6bf;
}

#lbl_btnDBMenu {
    font-size: 18px;
    pointer-events: none;
}

#img_btnDBMenu {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15%;
    left: 94%;
    pointer-events: none;
}

.div_dropdownMenu {
    height: auto;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #30a2ff;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.div_dropdownMenu>button {
    width: 100%;
    padding: 14px;
    border-width: 0px;
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
}

.div_dropdownMenu>button:hover {
    background-color: #84a6bf;
}

.dropdownMenu_show {
    display: block;
} 

#btn_add {
    height: 35px;
    width: 95%;
    /* margin-bottom: 20px; */
    border-style: double;
    border-width: 4px;
    border-color: #000000;
    border-radius: 10px;
    background-color: #3498DB;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.display_area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 30px 0px;
    overflow: auto;
}

.display_area #div_list {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_list .card {
    height: 70px;
    width: 90%;
    margin-bottom: 15px;
    padding: 6px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 8px 16px 0px rgba(170, 241, 255, 0.8);
    background-color: rgb(255, 255, 255);
}

.card .content_left {
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_left .checkbox {
    height: 30px;
    width: 30px;
}

.card .content_right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content_right>div:nth-child(1) {
    height: 65%;
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_right>hr {
    width: 95%;
}

.text {
    margin: 0;
    font-size: 18px;
}

.content_right>div:nth-child(3) {
    height: 35%;
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    height: 20px;
    width: 70px;
    margin-left: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-color1 {
    background-color: #ff6f6f;
}

.tag-color2 {
    background-color: #fff16f;
}

.tag-color3 {
    background-color: #6fff80;
}

.tag_name {

}

#btn_add2 {
    height: 50px;
    width: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    border-color: #000000;
    background-color: #3498DB;
    cursor: pointer;
}

#btn_add2:hover {
    background-color: #4c6b80;
}

#btn_add2>img {
    height: 25px;
    width: 25px;
    pointer-events: none;
}

#btn_close {
    display: none;
}

@media only screen and (min-width: 530px) and (max-width: 930px) {
    main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .input_area {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: hwb(204 22% 0% / 0.3);
    }

    .display_area {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0px 30px 0px;
        overflow: auto;
    }
}

@media only screen and (min-width: 0px) and (max-width: 530px) {
    main {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .input_area {
        width: 100%;
        border-radius: 40px 40px 0 0;
        position: absolute;
        bottom: 0;
        display: none;
        background-color: hwb(204 60% 1% / 0.9);
    }
    
    #btn_close {
        height: 30px;
        width: 85%;
        display: block;
        background-color: transparent;
        border-style: none;
        cursor: pointer;
    }
            
    #btn_close>img {
        height: 20px;
        width: 30px;
        pointer-events: none
    }

    .input_area>div {
        height: 230px;
        width: 90%;
        border-style: none;
        border-width: none;
        border-color: none;
        border-radius: none;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: transparent;
    }

    #img_btnDBMenu {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 15%;
        left: 92%;
        pointer-events: none;
    }

    .display_area {
        width: 100%;
        padding-bottom: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }

    .div_dropdownMenu {
        display: none;
        bottom: 120%;
    }

    .dropdownMenu_show {
        display: block;
    } 

    #btn_add2 {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        right: 20px;
        border-style: solid;
        border-width: 3px;
        border-radius: 25px;
        border-color: #000000;
        background-color: #3498DB;
        cursor: pointer;
    }
    
    #btn_add2:hover {
        background-color: #4c6b80;
    }

    #btn_add2>img {
        height: 25px;
        width: 25px;
        pointer-events: none;

        display: block;
    }
}

